<div class="container">
    <div ng-controller='ordersController'>
        <div class="col-xs-12">
           <h4>Add a new order</h4>
        </div>
        <div class="row">
            <form class="form" ng-submit='new_order()'>
            <div class="col-xs-3">
                Customer <select class="form-control" ng-model='newOrder.customer_name'>
                <option ng-repeat="customer in customers | orderBy:'name'">{{customer.name}}</option>
                </select> 
            </div>
            <div class="col-xs-1">
                 Order: <select class="form-control" ng-model="newOrder.quantity">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                 </select>
            </div>
            <div class="col-xs-4">
                 Product: <select class="form-control" ng-model="newOrder.item">
                   <option ng-repeat="product in products | orderBy:'name'">{{product.name}}</option>
                </select> 
            </div>
            <br>
            <div class="col-xs-2">
                <button type='submit' class="btn btn-primary btn-sm">Order</button> 
            </div>
            </form>
            <div class="col-xs-2">
            </div>
        </div>
       
        <div class="col-xs-4 col-xs-offset-8">
            <input id="search_box" type="text" name="search" ng-model="filter_name" placeholder="filter..."/>
        </div>
        <table class="table table-responsive">
        	<thead>
        		<th class="CellSpace">Customer Name</th>
        		<th class="CellSpace">Product</th>
                <th class="CellSpace">Quantity</th>
                <th class="CellSpace">Date</th>
        	</thead>
        	<tr ng-repeat="order in orders | filter:filter_name | orderBy: $index">
                <td class="CellSpace"><strong><span ng-bind='order.customer_name'></span></strong></td>
                <td class="CellSpace"><span ng-bind='order.name'></span></td>
                <td class="CellSpace"><span ng-bind='order.quantity'></span></td>
                <td class="CellSpace">{{order.date | date: 'MM/dd/yyyy'}}</td>
            </tr>
        </table>  
    </div>
</div>