<div ng-controller='productsController'>
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<input type="text" class="form-control" ng-model="filter_name" placeholder="search name..." placeholder="search..."/>
				<button type="button" class='btn btn-info btn-sm pull-right'>Filter</button><br><br>
				<h5>Add a new product</h5>
				<form ng-submit='new_product()'>
					<label>Name:</label><br>
					<input ng-model="newProduct.name" type="text" class="form-control" placeholder="name..."/>
					<label>Image (url):</label>
					<input ng-model="newProduct.image" type="text" class="form-control" placeholder="http://"/>
					<label>Description:</label>
					<textarea ng-model="newProduct.description" class="form-control"></textarea>
					<label>Initial Quantity:</label><br>
					<select ng-model="newProduct.quantity" class="form-control">
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option>40</option>
						<option>50</option>
					</select>
					<button type="submit" class='btn btn-primary btn-sm pull-right' >Create</button>
				</form>
			</div>	
			<div  class="col-xs-10">
			<div class="row">
				<div class="col-xs-12">
				<div  class="image_frame" ng-repeat="product in products | filter:filter_name | orderBy:'name'">
					<a href="#/product/{{product._id}}">
						<img class="img-responsive img-rounded" ng-src="{{product.image}}" alt="{{product.name}}">
						<p class="text-center"><span ng-bind='product.name'></span></p>
					</a>
						<p class="text-warning text-center">(<span ng-bind='product.qnty_left'></span> left)</p>
				</div>
				</div>
			</div>
			</div>
		</div>
		<div class="col-xs-12">
			<center><a href="#">show more...</a></center>
		</div>
	</div>
</div>